%p
  = "#{@email} さん"

- if @resource.try(:unconfirmed_email?)
  %p
    = "メールアドレスが #{@resource.unconfirmed_email} に変更されようとしています。"
  %p 新しいメールアドレスに送信された確認メールのリンクをクリックして、変更を完了してください。
- else
  %p
    = "メールアドレスが #{@resource.email} に変更されました。"

%p このメールに心当たりがない場合は、すぐにアカウントのセキュリティを確認してください。
